[Unit]
Description=getlog
After=syslog.target

[Service]
User=root
ExecStart=/usr/bin/python /home/hackday/hackday_ansible/get_log.py
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
