[Unit]
Description=getlog
After=syslog.target

[Service]
User=hackday
ExecStart=/usr/bin/python /home/hackday/scripts/get_log.py
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
